@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Serif+4&display=swap");

:root {
  --bgColor: #f9f9fe;
  --fbIcon: #175beb;
  --twIcon: #1da1f2;
  --itIcon: #ef00a8;
  --srIcon: #f7b454;
  --skIcon: #00aae8;
  --HeadingColor: #4b4870;
  --subHeadingColor: #454360;
  --btnColor: #4b4870;
  --parColor: #596184;
  --whitebg: #fff;
  --lightFont: #676486;
  --letter-M: #ff4c60;
  --fontFamily-1: "Josefin Sans", sans-serif;
  --fontFamily-2: "Source Serif Pro", serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: var(--fontFamily-1);
  transition: all 30ms ease-in;
  box-sizing: border-box;
}

html,
body {
  background: var(--bgColor);
  position: relative;
  height: 100%;
  width: 100%;
}

#header {
  position: relative;
  width: 100%;
  /* background-color: blue; */
  height: 255.75px;
}

#header-wrapper {
  /* background-color: #1da1f2; */
  margin: 0 auto;
  padding-top: 70px;
  width: 80%;
  height: 100%;
}

#menu-wrapper {
  width: 100%;
  padding: 5px 0px;
  /* background-color: #596184; */
  display: flex;
}

#icon-wrapper {
  width: 33.33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#icon-list {
  /* background-color: #f9f9fe; */
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  /* background-color: #454360; */
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  width: 100%;
  height: 24px;
}

#fb-icon svg {
  fill: var(--fbIcon);
}

#tw-icon svg {
  fill: var(--twIcon);
}

#it-icon svg {
  fill: var(--itIcon);
}

#sk-icon svg {
  fill: var(--skIcon);
}

#title-wrapper {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 3.75rem;
  color: var(--HeadingColor);
}

#title span {
  color: var(--letter-M);
}

#search-icon-wrapper {
  width: 33.33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#search-icon {
  position: relative;
  width: 100%;
  /* background-color: #1134d0; */
  display: flex;
  justify-content: flex-end;
}

#search-icon a {
  position: relative;
  background-color: var(--letter-M);
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-icon a svg {
  fill: var(--bgColor);
  height: 17px;
  width: 17px;
}

#nav-wrapper {
  /* background-color: red; */
  position: relative;

  padding: 30px 0px;
  display: flex;
}

#menu {
  list-style: none;
  position: relative;
  margin: auto;
  width: 55%;
  height: 50px;
  padding: 0px 5px;
  background-color: var(--whitebg);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-item {
  position: relative;
  padding: 5px 5px;
  /* background-color: black; */
  height: 80%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--HeadingColor);
  opacity: 0.9;
}

.menu-item > a {
  /* background-color: #1da1f2; */
  font-family: var(--fontFamily-2);
  font-size: 15px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

/* Test Drop Down  */

/* #menu .menu-item:first-child .dropdown-wrapper{
  visibility: visible;
  background-color: #4b4870;
} */

/* #menu .menu-item:first-child .dropdown-wrapper .subHead .subHead-list:first-child .sub-menu{
  visibility: visible;
} */

.dropdown-wrapper {
  font-weight: 100;
  font-size: 15px;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(-10px);
  width: 250px;
  height: auto;
}

.menu-item:hover .dropdown-wrapper {
  visibility: visible;
}

.dropdown-wrapper .subHead {
  list-style: none;
  position: relative;
  font-weight: 100;
  width: 100%;
  padding: 12px 0px;

  background-color: var(--whitebg);
  border-radius: 5px;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
  /* border:1px solid red; */
  white-space: nowrap;
}

.dropdown-wrapper .subHead .subHead-list a {
  color: inherit;
  text-decoration: none;
}

.dropdown-wrapper .subHead .subHead-list {
  /* background-color: #f7b454; */
  margin: 10px 0px;
  width: 100%;
  height: 30px;
  padding: 5px 12px;
  position: relative;
}

.dropdown-wrapper .subHead .subHead-list:hover {
  /* background-color: #f7b454; */
  color: var(--letter-M);
}

.dropdown-wrapper .subHead .sub-menu {
  visibility: hidden;
  position: absolute;
  left: 100%;
  top: -12px;
  width: fit-content;
  border-radius: 5px;

  white-space: nowrap;
  list-style: none;
  background-color: var(--whitebg);
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
  padding: 12px;
}

.dropdown-wrapper .subHead .sub-menu .sub-menu-list {
  /* background-color: #175beb; */
  margin: 5px 0px;
  width: 100%;
  height: 30px;
  padding: 5px 0px;
  color: var(--HeadingColor);
}

.dropdown-wrapper .subHead .sub-menu .sub-menu-list:hover {
  /* background-color: #175beb; */

  color: var(--letter-M);
}

.dropdown-wrapper .subHead .subHead-list:hover .sub-menu {
  visibility: visible;
}

#page {
  /* background-color: rgb(106, 171, 133); */
  height: 1200px;
  position: relative;
}

.page-wrapper {
  /* background-color: #b78989; */
  position: relative;
  margin: 0px 10%;
  display: flex;
  justify-content: space-between;
}

#post-container {
  /* background-color: #4b4870; */
  height: auto;
  width: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
}
#post-container::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on webkit-based browsers */
}
.post-wrapper {
  position: relative;
  background-color: var(--whitebg);
  height: auto;
  max-width: 53vw;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.4);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.post-wrapper .top-section {
  flex: 1;

  /* background-color: #4b4870; */
}

.featured-image {
  max-height: 200px;
  width: 100%;
  background-color: #fff;
  display: flex;
}

.featured-image .image-container {
  /* background-color: #c5dbe3; */
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.image-link {
  display: block;
  position: relative;
  z-index: 1;
  min-height: 80px;
  transform: translateY(0);
  width: 120px;
  height: 120px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  line-height: 1;
  font-weight: 700;
  float: left;
  margin-right: 30px;
}

.image-link::before {
  content: "";
  border: 1px solid #fff;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: all 0.3s ease;
  z-index: 1;
}

.fullimage {
  background-image: url("https://themes.estudiopatagon.com/wordpress/maktub/wp-content/uploads/2019/07/mixkit-man-holding-the-brim-of-a-yellow-fedora-that-covers-93-desktop-wallpaper-300x169.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.fullimage-fakelayout {
  background-image: url("https://themes.estudiopatagon.com/wordpress/maktub/wp-content/uploads/2019/07/mixkit-man-holding-the-brim-of-a-yellow-fedora-that-covers-93-desktop-wallpaper-300x169.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  position: absolute;
  transition: all 0.4s ease;
  top: 3px;
  left: 3px;
  right: auto !important;
  bottom: auto !important;
  z-index: 4 !important;
}

.fullimage-fakelayout::before {
  content: "";
  border: 1px solid #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: all 0.3s ease;
  z-index: 5;
}
.image-link:hover .fullimage-fakelayout {
  left: -8px !important;
  top: -8px !important;
  z-index: 8;
}
.meta-container {
  /* background-color: #1da1f2; */
  width: 100%;
}
.meta-container .title {
  text-decoration: none;
  color: var(--subHeadingColor);
}

.meta-container .title h1 {
  font-family: var(--fontFamily-1);
  margin-bottom: 15px;
  font-size: 38px;
}

.meta-container .meta-data {
  display: flex;
  font-family: var(--fontFamily-2);
  color: var(--lightFont);
  font-size: 15px;
  gap: 12px;
}

.meta-data .published-date {
}

.meta-data .meta-read-time::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 2px;
  background: var(--letter-M);
  vertical-align: middle;
  margin-right: 5px;
}

/* .meta-data .meta-read-time {
} */

.meta-data .meta-comment {
  display: flex;
  gap: 12px;
}

.meta-data .meta-comment svg {
  display: block;
  fill: var(--letter-M);
}

.meta-data .meta-comment h4 {
  font-weight: 100;
}

.meta-data .meta-view {
  display: flex;
  gap: 4px;
}

.meta-data .meta-view h4 {
  font-weight: 100;
}

.meta-data .meta-view svg {
  fill: var(--letter-M);
}

.bottom {
  width: 100%;
  /* background-color : red; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

.bottom .paragragh {
  font-family: var(--fontFamily-2);
  font-size: 17px;
  color: var(--lightFont);
  line-height: 2rem;
  margin-top: 35px;
  margin-bottom: 60px;
}

.bottom .tag-author {
  display: flex;
  justify-content: space-between;
}

.tag {
  margin: 0px 10px;
  padding: 2px 6px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-decoration: none;
}

.tag svg {
  height: 15px;
  stroke: 3px;
  fill: var(--letter-M);
  transform: translateY(2px);
}
.tag .tag-name {
  font-size: 14px;
  font-weight: 500;
  color: var(--lightFont);
}

.author-info {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.author-image {
  border-radius: 25px;
}
.author-name h4 {
  font-weight: 200;
}
.text-link {
  color: var(--btnColor);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  background: rgb(11, 74, 98);
  height: 40px;
  width: 143px;
  
}

.text-link::before{
  content: "";
  border: 1px solid #fff;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  /* background-color: #fff; */
  transition: all 0.3s ease;
  z-index: 1;
}
 .fullText{
  content: '';
  background-color: #454360;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.fullText-fakelayout{
  content: '';
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  position: absolute;
  transition: all 0.4s ease;
  top: 3px;
  left: 3px;
  right: auto !important;
  bottom: auto !important;
  z-index: 4 !important;
}

 .fullText-fakelayout::before {
  content: "";
  border: 1px solid #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: all 0.3s ease;
  z-index: 5;
}

 .image-link:hover .fullText-fakelayout {
  left: -8px !important;
  top: -8px !important;
  z-index: 8;
}
.text-link  h4{
  text-decoration: none;
  color: var(--subHeadingColor);
  z-index: 6;
}







#aside {
  /* background-color: rgb(216, 76, 76); */
  position: sticky;
  top: 0px;
  right: 0px;
  width: 350px;
  height: 600px;
}
.aside-element {
  background: #fff;
}

.heading-wrapper {
  position: relative;
  padding-bottom: 1rem;
  display: flex;
}

.heading-wrapper h1 {
  width: 100%;
  font-size: 24px;
  
}
.heading-wrapper h1 .red-line {
  height: 2px;
  background: var(--epcl-main-color);
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-left: 15px;
  min-width: 30px;
}

.recent-post-wrapper {
  display: flex;
  margin: 5px;
}

.recent-post-wrapper .image-link {
  height: 60px;
  width: 60px;
  margin-right: 12px;
}

.content-section {
  width: 100%;
  /* background: red; */
}
.title-section {
  padding: 0px 0px 10px 0px;
  font-size: 16px;
  color: var(--subHeadingColor);
  font-family: var(--fontFamily-1);
  font-weight: 600;
}

.timestamp-section {
  font-family: var(--fontFamily-1);
  font-size: 12px;
  color: var(--lightFont);
  font-weight: 100;
  line-height: 21.6px;
}
